<header class="bg-primary bg-gradient pt-2 pb-2 shadow-sm">
    <div style="max-width: 576px;" class="m-auto">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="text-light fs-4 m-0">
                To-Do Application
            </h1>
            <a class="text-light text-decoration-none" href="https://github.com/rasmussenandrewjames/to-do-application"
                target="_blank"><i class="bi bi-github fs-5"></i></a>
        </div>
    </div>
</header>